body {
  margin: 0px;
  font-family: ubuntu, helvetica, sans-serif;
}

.tab {
  padding: 0px;
}

.bar {
  background-color: dimgrey;
  color: white;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 15px;
}

.bar h1 {
  display: inline-block;
  margin-right: 15px;
}

.bar button {
  padding: 5px;
  min-width: 80px;
  min-height: 45px;
  margin-right: 10px;
  margin-bottom: 10px;
  vertical-align: middle;
  background-color: deeppink;
  color: white;
  font-weight: bold;
  border-width: 0px;
  border-radius: 10px;
  border: 2px solid dimgrey;
}

.bar button:hover {
  background-color: hotpink;
  cursor: pointer;
}

.bar button.active {
  background-color: lime;
  color: black;
  border-color: black;
}

.page .bar {
  display: flex;
  align-items: center;
  position: relative;
  background-color: gainsboro;
  color: deeppink;
  padding: 10px;
  padding-left: 40px;
  margin-top: 0em;
  border-left: 20px solid deeppink;
  height: 36px;
}

.page .bar::before {
  content: '';
  border-bottom: 28px solid transparent;
  border-top: 28px solid transparent;
  border-left: 30px solid deeppink;
  position: absolute;
  left: 0px;
  top: 0px;
}

.page .bar button {
  margin-left: 10px;
  margin-top: -7px;
  padding: 5px;
  background-color: mediumpurple;
  text-shadow: 0px 0px 4px royalblue;
  color: white;
  font-weight: bold;
  border-width: 0px;
  border-radius: 10px;
}

.page .bar button:hover {
  background-color: orchid;
}

.page .bar button:active {
  background-color: magenta;
}

.page .bar .buttons {
  display: inline-block;
  height: 1em;
}

.padded {
  padding: 1em;
}

#wallets .wallets tr {
  padding: 15px;
}

#access table.access th {
  text-align: left;
  min-width: 150px;
}

#access table.access tr td.origin {
  background-color: yellow;
  min-width: 30ex;
  padding-right: 4ex;
}

#access form.add-access {
  margin-bottom: 2em;
}

.info {
  color: rgb(127,127,127);
  font-style: italic;
}
